{% extends 'base.html' %}

{% block content %}

<div class="container" id="body" role="main">

<div class="row" id="about">
    <p class="lead">
        WattTime Grid API is a project of <a href="//watttime.org/">WattTime</a>,
        a nonprofit startup in Berkeley, CA.
        Our mission is to empower people and smart devices to get their electricity
        from energy sources they believe in by using energy at the times when it's cleanest.
    </p>
</div>

<div class="row" id="contact">
    <p>
    <dl class="dl-horizontal">
        <dt><span class="label label-primary">Contact</span></dt>
        <dd>
            Comments? Suggestions? We'd love to highlight your project!
            Say hello to Anna at
            <a href="mailto:anna@watttime.org">anna@watttime.org</a>
        </dd>
        <dt><span class="label label-info">Updates</span></dt>
        <dd>
            Get alerts and announcements by joining the
            <a href="//groups.google.com/forum/#!forum/watttime-api-users">user list</a>
        </dd>
        <dt><span class="label label-danger">Support</span></dt>
        <dd>
            Bug report? Feature request? Ping our tech team at
            <a href="mailto:dev@watttime.org">dev@watttime.org</a>
        </dd>
        <dt><span class="label label-warning">Contribute</span></dt>
        <dd>
            Pull requests welcome! Get the code on
            <a href="//github.com/WattTime/watttime-grid-api/">github</a>
        </dd>
        <dt><span class="label label-success">Social</span></dt>
        <dd>
            Follow us on Twitter
            <a href="//twitter.com/watttime/">@wattTime</a>
        </dd>
    </dl>
    </p>
</div>

</div> <!-- end body container -->

{% endblock %}
