{% extends 'base.html' %}

{% block title %}Home{% endblock%}

{% block content %}

<div class="container" id="body" role="main">

<div class="row" id="purpose">
    <h1>Why WattTime Impact API?</h1>
    <p>
        The CO<sub>2</sub> intensity of electricity varies in real time throughout the day. Ever wanted to know...
    </p>
    <ul>
        <li>What time of day has the cleanest energy in New England?</li>
        <li>What is the carbon footprint of my electricity,
            <a href="{% url 'map' %}">right here, right now</a>?</li>
        <li>How variable is wind power production in the Midwest?</li></li>
        <li>Is California on track to meet its <a href="http://www.energy.ca.gov/portfolio/">33%-by-2020 renewable portfolio standard</a>?</li>
    </ul>
    <p>
        It turns out that for most parts of the US, the data to answer 
        these kind of questions are freely and openly available. But these 
        data are scattered in wildly different formats across a wide 
        variety of sources, not all of which are exactly easy to find.
    </p>
    <p>
        The WattTime Impact API standardizes this information to empower app developers
        to build cool tools that make real-time electricity data accessible, 
        exciting, and actionable. It's also useful for data analysts who want a single portal
        that provides energy cleanliness data in a simple, queryable, standardized format.
    </p>
</div>

<div class="row" id="video">

    <h1>Watch the tour</h1>

    <iframe width="420" height="315" src="//www.youtube.com/embed/QpayHJzA26Q?rel=0" frameborder="0" allowfullscreen></iframe>

</div>

</div> <!-- end body container -->

{% endblock %}
