{% extends 'base.html' %}
{% load leaflet_tags %}
{% load staticfiles %}

{% block title %}Status{% endblock%}

{% block head %}
   {% leaflet_js %}
   {% leaflet_css %}
	<style>
		.map {
			width: 800px;
			height: 500px;
		}

		.info {
			padding: 6px 8px;
			font: 14px/16px Arial, Helvetica, sans-serif;
			background: white;
			background: rgba(255,255,255,0.8);
			box-shadow: 0 0 15px rgba(0,0,0,0.2);
			border-radius: 5px;
		}
		.info h4 {
			margin: 0 0 5px;
			color: #777;
		}

		.legend {
			text-align: left;
			line-height: 20px;
			color: #555;
		}
		.legend i {
			width: 18px;
			height: 18px;
			float: left;
			margin-right: 8px;
			opacity: 0.7;
		}
	</style>
{% endblock %}
{% block content %}

<div class="container" id="body" role="main">
    <div class="row">
        <h1>Grid feed status</h1>
        <p class="lead">
            How clean is my energy? Are the live feeds up to date?
        </p>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="alert text-center" style="background-color: rgb(215,48,39)">
          Coal is about 2100 lb CO<sub>2</sub>/MWh
        </div>
      </div>
      <div class="col-md-4">
        <div class="alert text-center" style="background-color: rgb(254,224,139)">
          Natural gas is about 1200 lb CO<sub>2</sub>/MWh
        </div>
      </div>
      <div class="col-md-4">
        <div class="alert text-center" style="background-color: rgb(26,152,80)">
          Renewables are essentially carbon-free!
        </div>
      </div>
    </div>

    <div class="row">
       {% leaflet_map "map" callback="main_map_init" creatediv=False %}
       <div id="map" style="height: 500px;"></div>
    </div>

    <div class="row">
        <div class="well well-sm">
            Want to help improve our data?
            We'd love shapefiles for non-ISO balancing authorities!
            Please <a href="mailto:anna@watttime.org">get in touch</a>.
        </div>
    </div>

    <script type="text/javascript">
        function getColor(val) {
            return val > 2000  ? 'rgb(215,48,39)'   :
                   val > 1600  ? 'rgb(252,141,89)'  :
                   val > 1200  ? 'rgb(254,224,139)' :
                   val > 800   ? 'rgb(217,239,139)' :
                   val > 400   ? 'rgb(145,207,96)'  :
                   val > 0     ? 'rgb(26,152,80)'   :
                                 'rgb(50,50,50)';
        }

        function style(feature) {
            return {
                fillColor: getColor(feature.properties.carbon),
                weight: 1,
                opacity: 1,
                color: 'white',
                dashArray: '3',
                fillOpacity: 0.7
            };
        }

        function onEachFeature (feature, layer) {
            var msg = feature.properties.name+"<br>";
            if (feature.properties.carbon > 0) {
                msg += "carbon impact = "+feature.properties.carbon+" lb/MWh<br>";
            } else {
                msg += "no recent data available<br>";
            }
            if (feature.properties.lag > 0) {
                msg += "updated "+feature.properties.lag+" "+feature.properties.lag_units+" ago";
            }
            layer.bindPopup(msg);
        }        

        function main_map_init (map, options) {
            // set size
		//var map = L.map('map');
            map.setView([37.8, -96], 4);

            // Add GeoJSON layer
            var data = {{ geojson|safe }};
            L.geoJson(data, {
                style: style,
                onEachFeature: onEachFeature,
            }).addTo(map);

            // add legend
		var legend = L.control({position: 'bottomright'});
		legend.onAdd = function (map) {
                	var div = L.DomUtil.create('div', 'info legend'),
                        labels = [],
				from, to;
                  labels.push('<i style="background:' + getColor(-1) + '"></i> ' +
					'no recent data');
                  labels.push('<i style="background:' + getColor(1) + '"></i> ' +
					'0-400 lb CO<sub>2</sub>/MWh');
                  labels.push('<i style="background:' + getColor(401) + '"></i> ' +
					'400-800 lb CO<sub>2</sub>/MWh');
                  labels.push('<i style="background:' + getColor(801) + '"></i> ' +
					'800-1200 lb CO<sub>2</sub>/MWh');
                  labels.push('<i style="background:' + getColor(1201) + '"></i> ' +
					'1200-1600 lb CO<sub>2</sub>/MWh');
                  labels.push('<i style="background:' + getColor(1601) + '"></i> ' +
					'1600-2000 lb CO<sub>2</sub>/MWh');
                  labels.push('<i style="background:' + getColor(2001) + '"></i> ' +
					'2000+ lb CO<sub>2</sub>/MWh');
			div.innerHTML = labels.join('<br>');
			return div;
		};
		legend.addTo(map);
        }
    </script> 
{% endblock %}
